<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Throne.Auth.Properties.GlobalDefaults" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="Throne.Auth.Properties.GlobalDefaults.DatabaseConnectionString"
        connectionString="Server=127.0.0.1;Database=throne;User ID=root" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><applicationSettings>
        <Throne.Auth.Properties.GlobalDefaults>
            <setting name="AccountServiceUri" serializeAs="String">
                <value>net.tcp://127.0.0.1:9900</value>
            </setting>
            <setting name="DatabaseType" serializeAs="String">
                <value>MySql</value>
            </setting>
            <setting name="ServerListenIP" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="ServerListenPort" serializeAs="String">
                <value>9960</value>
            </setting>
            <setting name="ServerBacklog" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FirewallWatchSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FirewallConnectionThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SocketNoNagel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketKeepAlive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketGracefulDisconnection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketDontFragment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketReuseEndpoint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Authentication</value>
            </setting>
            <setting name="OutgoingPacketFooter" serializeAs="String">
                <value />
            </setting>
            <setting name="IncomingPacketFooter" serializeAs="String">
                <value />
            </setting>
            <setting name="TestServerIp" serializeAs="String">
                <value>192.168.43.128</value>
            </setting>
            <setting name="TestServerPort" serializeAs="String">
                <value>5188</value>
            </setting>
        </Throne.Auth.Properties.GlobalDefaults>
    </applicationSettings>
</configuration>
