<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Throne.Auth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Throne.Auth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Throne.Auth.Properties.Settings.DatabaseConnectionString"
            connectionString="Server=127.0.0.1;Database=throne;User ID=root" />
    </connectionStrings>
    <applicationSettings>
        <Throne.Auth.Properties.Settings>
            <setting name="AccountServiceUri" serializeAs="String">
                <value>net.tcp://127.0.0.1:9900</value>
            </setting>
            <setting name="DatabaseType" serializeAs="String">
                <value>MySql</value>
            </setting>
            <setting name="ServerListenIP" serializeAs="String">
                <value>172.20.10.2</value>
            </setting>
            <setting name="ServerListenPort" serializeAs="String">
                <value>9960</value>
            </setting>
            <setting name="ServerBacklog" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FirewallWatchSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FirewallConnectionThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SocketNoNagel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketKeepAlive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketGracefulDisconnection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketDontFragment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketReuseEndpoint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Authentication</value>
            </setting>
            <setting name="OutgoingPacketFooter" serializeAs="String">
                <value />
            </setting>
            <setting name="IncomingPacketFooter" serializeAs="String">
                <value />
            </setting>
            <setting name="TestServerIp" serializeAs="String">
                <value>172.20.10.2</value>
            </setting>
        </Throne.Auth.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Throne.Auth.Properties.Settings>
            <setting name="TestServerPort" serializeAs="String">
                <value>5188</value>
            </setting>
        </Throne.Auth.Properties.Settings>
    </userSettings>
</configuration>