<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Throne.World.Properties.Settings.SystemSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Throne.World.Structures.Objects.EntityDefaults" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Throne.World.Properties.GlobalDefaults" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Throne.World.Structures.GameObject.EntityDefaults" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Throne.World.Structures.World.MapDefaults" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Throne.World.Structures.Entity.EntityDefaults" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Throne.World.Structures.Map.MapDefaults" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Throne.World.Structures.World.MapDefaults" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Throne.World.Properties.GlobalDefaults.DatabaseConnectionString"
            connectionString="Server=127.0.0.1;Database=throne;User ID=root;Allow Zero Datetime=True" />
        <add name="Throne.World.Properties.Settings.SystemSettings.DatabaseConnectionString"
            connectionString="Server=127.0.0.1;Database=throne;User ID=root;Allow Zero Datetime=True" />
    </connectionStrings>
    <applicationSettings>
        <Throne.World.Properties.Settings.SystemSettings>
            <setting name="AccountServiceUri" serializeAs="String">
                <value>net.tcp://127.0.0.1:9900</value>
            </setting>
            <setting name="DatabaseType" serializeAs="String">
                <value>MySql</value>
            </setting>
            <setting name="ServerListenIP" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="ServerListenPort" serializeAs="String">
                <value>5188</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="ServerBacklog" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EncCAST5Standard" serializeAs="String">
                <value>C238xs65pjy7HU9Q</value>
            </setting>
            <setting name="OutgoingPacketFooter" serializeAs="String">
                <value>TQServer</value>
            </setting>
            <setting name="IncomingPacketFooter" serializeAs="String">
                <value>TQClient</value>
            </setting>
            <setting name="FirewallWatchSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FirewallConnectionThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SocketNoNagel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketKeepAlive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketGracefulDisconnection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketDontFragment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketReuseEndpoint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CommandPrefix" serializeAs="String">
                <value>&gt;</value>
            </setting>
        </Throne.World.Properties.Settings.SystemSettings>
        <Throne.World.Structures.Objects.EntityDefaults>
            <setting name="ScreenSize" serializeAs="String">
                <value>38, 38</value>
            </setting>
            <setting name="NewCharacterMap" serializeAs="String">
                <value>1002</value>
            </setting>
            <setting name="NewCharacterSpawn" serializeAs="String">
                <value>302, 278</value>
            </setting>
            <setting name="MaxJumpDistance" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ScreenRange" serializeAs="String">
                <value>18</value>
            </setting>
        </Throne.World.Structures.Objects.EntityDefaults>
        <Throne.World.Properties.GlobalDefaults>
            <setting name="AccountServiceUri" serializeAs="String">
                <value>net.tcp://127.0.0.1:9900</value>
            </setting>
            <setting name="DatabaseType" serializeAs="String">
                <value>MySql</value>
            </setting>
            <setting name="ServerListenIP" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="ServerListenPort" serializeAs="String">
                <value>5188</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="ServerBacklog" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EncCAST5Standard" serializeAs="String">
                <value>C238xs65pjy7HU9Q</value>
            </setting>
            <setting name="OutgoingPacketFooter" serializeAs="String">
                <value>TQServer</value>
            </setting>
            <setting name="IncomingPacketFooter" serializeAs="String">
                <value>TQClient</value>
            </setting>
            <setting name="FirewallWatchSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FirewallConnectionThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SocketNoNagel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketKeepAlive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketGracefulDisconnection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketDontFragment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketReuseEndpoint" serializeAs="String">
                <value>True</value>
            </setting>
        </Throne.World.Properties.GlobalDefaults>
        <Throne.World.Structures.GameObject.EntityDefaults>
            <setting name="ScreenSize" serializeAs="String">
                <value>38, 38</value>
            </setting>
            <setting name="NewCharacterMap" serializeAs="String">
                <value>1002</value>
            </setting>
            <setting name="NewCharacterSpawn" serializeAs="String">
                <value>302, 278</value>
            </setting>
            <setting name="MaxJumpDistance" serializeAs="String">
                <value>16</value>
            </setting>
        </Throne.World.Structures.GameObject.EntityDefaults>
        <Throne.World.Structures.World.MapDefaults>
            <setting name="ElevationViolationsAllowed" serializeAs="String">
                <value>1</value>
            </setting>
        </Throne.World.Structures.World.MapDefaults>
        <Throne.World.Structures.Entity.EntityDefaults>
            <setting name="ScreenSize" serializeAs="String">
                <value>38, 38</value>
            </setting>
            <setting name="NewCharacterMap" serializeAs="String">
                <value>1002</value>
            </setting>
            <setting name="NewCharacterSpawn" serializeAs="String">
                <value>302, 278</value>
            </setting>
        </Throne.World.Structures.Entity.EntityDefaults>
        <Throne.World.Structures.Map.MapDefaults>
            <setting name="ElevationViolationsAllowed" serializeAs="String">
                <value>1</value>
            </setting>
        </Throne.World.Structures.Map.MapDefaults>
    </applicationSettings>
    <userSettings>
        <Throne.World.Structures.World.MapDefaults>
            <setting name="PlayerScreenRange" serializeAs="String">
                <value>18</value>
            </setting>
        </Throne.World.Structures.World.MapDefaults>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
