<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Throne.World.Structures.Entity.User.CharacterDefaults" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Throne.World.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Throne.World.Properties.Settings.DatabaseConnectionString"
            connectionString="Server=127.0.0.1;Database=throne;User ID=root" />
    </connectionStrings>
    <applicationSettings>
        <Throne.World.Structures.Entity.User.CharacterDefaults>
            <setting name="ScreenSize" serializeAs="String">
                <value>38, 38</value>
            </setting>
        </Throne.World.Structures.Entity.User.CharacterDefaults>
        <Throne.World.Properties.Settings>
            <setting name="AccountServiceUri" serializeAs="String">
                <value>net.tcp://127.0.0.1:9900</value>
            </setting>
            <setting name="DatabaseType" serializeAs="String">
                <value>MySql</value>
            </setting>
            <setting name="ServerListenIP" serializeAs="String">
                <value>172.20.10.2</value>
            </setting>
            <setting name="ServerListenPort" serializeAs="String">
                <value>5188</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="ServerBacklog" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EncCAST5Standard" serializeAs="String">
                <value>C238xs65pjy7HU9Q</value>
            </setting>
            <setting name="OutgoingPacketFooter" serializeAs="String">
                <value>TQServer</value>
            </setting>
            <setting name="IncomingPacketFooter" serializeAs="String">
                <value>TQClient</value>
            </setting>
            <setting name="FirewallWatchSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FirewallConnectionThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SocketNoNagel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketKeepAlive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketGracefulDisconnection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketDontFragment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketReuseEndpoint" serializeAs="String">
                <value>True</value>
            </setting>
        </Throne.World.Properties.Settings>
    </applicationSettings>
</configuration>